.content__img {
  margin-top: 20px;
  min-width: .400px;
  min-height: 550px;
}
@media (min-width: 768px) {
  .content__img {
    margin-top: 12px;
    width: 580px;
    height: 656px;
    
  }
}
.img {
  display: flex;
  justify-content: center;
  
}
